{% extends 'base.html' %} {% block content %}
<style>
    .my-info {
        background-color: #3f4346;
        font-family: sans-serif;
        color: aliceblue;
    }
    
    .my-info img {
        max-width: 100%;
        padding-left: 0;
    }
    
    .my-info h1 {
        font-size: 50px;
        font-weight: 700;
    }
    
    .blog {}
    
    .blog .container {
        width: 700px;
        border: 0px solid grey;
        border-radius: 8px;
    }
</style>
<section id="home" class="my-info text-center container-fluid px-0 mx-0 py-3">

    <h1>Welcome to My Personal Blog,</h1>
    <h2>A app and Web devloper</h2>
    <p>i'm a computer scince student from iiitdmj</p>
    <div class="">
        <img style="width: 100%; height: 760px;" src="https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">

    </div>
    <br>
    <p>here i'm ending the day with nothing</p>
</section>

<section class="blog " style="">
    {% for post in post_list %}

    <div class="container my-5 shadow p-2 ">
        <div class="row ">
            <div class=" left mt-3 mb-4 ">
                <h2>{{post.title}}</h2>
                <h6 style="color: #3f4346;">{{post.author}} | {{post.created_on}}</h6>
                <p>{{post.content|slice:":200 "}}.......</p>

                <a href="{% url 'post_detail' post.slug %} " class="btn btn-primary ">Read More &rarr;</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <!---->{% if is_paginated %}
    <nav arial-lable="page navigation conatiner example"></nav>]
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previos_page_number}}" class="page-link">&laquo; PREV </a></li>

        {% endif %} {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo; </a></li>
        {% endif %}
    </ul>
    </nav>
    {% endif %}
</section>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js " integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf " crossorigin="anonymous "></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js " integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js " integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc " crossorigin="anonymous "></script>

{% endblock content %}