{% extends 'base.html' %} {% block content %}
<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/31/6/gDV38U.jpg');
    }
    
    @media only screen and (max-width: 1024px) {
        .my-4 {
            margin-top: 8rem!important;
            margin-bottom: 25rem!important;
        }
        .col-lg-5 {
            width: 500px;
        }
    }
    
    @media only screen and (max-width: 760px) {
        footer .container .link ul {
            display: flex;
            list-style-type: none;
            margin-left: 4rem;
            margin-top: 2rem;
        }
        .col-lg-5 {
            width: 350px;
        }
        .my-4 {
            margin-top: 5rem!important;
            margin-bottom: 0rem!important;
        }
    }
</style>

<div>
    <button class="goback" onclick="goBack()" style="text-decoration: none; border-radius: 50%; border: none; ">X</button>
</div>
<div class=" col-lg-5 mx-auto my-4 register">

    <div class="p-4">
        <form action="" method="POST" class="shadow px-3">
            {% csrf_token %}
            <div class="alert alert-success text-center" style="margin-left:-1rem; margin-right:-1rem; font-size: 21px; font-weight: 700;">Create Account</div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: white; font-size: 18px;"> {{form.username.label}}</label><span style="color: red;">*</span> {{form.username}}
            </div>

            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label " style="color: white; font-size: 18px;">   {{form.first_name.label}}</label><span style="color: red;">*</span> {{form.first_name}}
            </div>
            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label " style="color: white; font-size: 18px;"> {{form.last_name.label}}</label><span style="color: red;">*</span> {{form.last_name}}
            </div>
            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label " style="color: white; font-size: 18px;">  {{form.email.label}}</label><span style="color: red;">*</span> {{form.email}}
            </div>
            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label " style="color: white; font-size: 18px;">   {{form.password1.label}}</label> <span style="color: red;">*</span>{{form.password1}}
            </div>
            <div class="mb-3 ">
                <label for="exampleInputPassword1 " class="form-label " style="color: white; font-size: 18px;">   {{form.password2.label}}</label><span style="color: red;">*</span> {{form.password2}}
            </div>


            <hr>
            <button type="submit " class="btn btn-success my-2 ">Sign-up</button>
            <div class="my-1 " style="display:flex;">
                <h6 style="color:white;">Already have account / </h6>
                <a href="{% url 'login' %} " style="text-decoration: none; ">login Account</a>
            </div>
        </form>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'tarun@123....';
    form_fields[2].placeholder = 'tarun....';
    form_fields[3].placeholder = 'kumar....';
    form_fields[4].placeholder = 'tarun@123gmail.com...';
    form_fields[5].placeholder = '********';
    form_fields[6].placeholder = '*********';


    function goBack() {
        window.history.back();
    }
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js " integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0 " crossorigin="anonymous "></script>



{% endblock %}